<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ximena.mfoodyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.MFoodyApp"
       >
        <activity
            android:name=".Descripcion"
            android:exported="false"
            android:label="Detalle Comida"/>
        <activity
            android:name=".ui.facturas.FacturasFragment"
            android:exported="false"
            android:label="Facturas"/>
        <activity
            android:name=".Navigator"
            android:exported="false"
            android:label="@string/title_activity_navigator"
            android:theme="@style/Theme.MFoodyApp.NoActionBar" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>